<header>
  <div class="container">
    <img src="images/navtlogott.png" alt="logo" class="logo">
      <ul>
        <li class="homeitem"><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">My Account</a></li>
      </ul>
  </div>
</header>
