<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>


    <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css"/> -->
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/login-register.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div>
      <h1>Checkout</h1>
    </div>
    <main>
      <section class="order-log">
        <div class="orders">
          <div class="order-item">
            <h3 class="order-number">1</h3>
            <p>Pizza with pepperoni and pineapple</p>
          </div>
          <div class="divider"></div>

          <div class="order-item">
            <h3 class="order-number">2</h3>
            <p class="order-description">Pizza with pepperoni and pineapple</p>
            <p>-$35</p>
          </div>
          <div class="divider"></div>

          <h4 class="order-total">Total: 70$</h4>

        </div>
      </section>

      <section class="order-checkout">

          <form>

            <div class="specific form-group">
              <input type="phone-number" class="form-control" id="exampleInputPhone1" aria-describedby="emailHelp" placeholder="Enter phone-number">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>

      </section>
    </main>
  </body>
</html>
