<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Laila:wght@300&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('partials/header') %>

  <main>

    <div class ="fooddiv">
      <h2 id="menuhead">Today's special</h2>
      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/baked-tasty-margerita-pizza-near-oven-picture-id899907172?b=1&k=20&m=899907172&s=170667a&w=0&h=al2chmGmoGLVGTordDrQgK3F4DDHkph4lmcyT1loOjY="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>

      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/homemade-italian-bruschetta-on-rustic-wooden-table-picture-id1181611076?b=1&k=20&m=1181611076&s=170667a&w=0&h=_UR2cuy4gzTBZcPazSlacMVwjcV6_PCLHQMAPkHVOgc="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>


      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/homemade-italian-bruschetta-on-rustic-wooden-table-picture-id1181611076?b=1&k=20&m=1181611076&s=170667a&w=0&h=_UR2cuy4gzTBZcPazSlacMVwjcV6_PCLHQMAPkHVOgc="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>

      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/pasta-plate-picture-id637214478?b=1&k=20&m=637214478&s=170667a&w=0&h=6cKxdraXf5VErmb7nRw6vSrk_VehwCoTY2f4nNIhIpU="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>

      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/pasta-plate-picture-id637214478?b=1&k=20&m=637214478&s=170667a&w=0&h=6cKxdraXf5VErmb7nRw6vSrk_VehwCoTY2f4nNIhIpU="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>

      <div class="menu-tiles">
        <div class="food-img-container">
          <img class="food-img"
            src="https://media.istockphoto.com/photos/pasta-plate-picture-id637214478?b=1&k=20&m=637214478&s=170667a&w=0&h=6cKxdraXf5VErmb7nRw6vSrk_VehwCoTY2f4nNIhIpU="
            alt="pizza">
        </div>
        <div class="desc-order-container">

          <div class="title">Fresh Italian Rocca</div>
          <div class="description">Cheese Mix, Rocca, Permesan Cheese, Tomato, Balsamic Vinegar</div>
          <div class="food-type">Vegetarian</div>
          <div class="price">50 C$</div>
          <div class="add-to-basket"><a href="#">Add to basket</a></div>

        </div>
      </div>


    </div>

    <div class ="infodiv">
      <h3 class="paradesc">Exquisite Italian Delights</h3>
      <div>
        <p class="paradesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


      </div>
    </div>

  </main>
  <%- include('partials/footer') %>

</body>

</html>
