// * {
//   border: solid 2px red;
// }

h1 {
  font-size: 4rem;
}

body {
  display: flex;
  justify-content: center !important;
  background-color: #FDFFE9 !important;
  text-align: center !important;
}

main {
  width: 80%;
}

section {
  margin-bottom: 2em !important;
}

.orders {
  display: flex !important;
  flex-direction: column;
  border: solid 2px rgb(187, 187, 187);
  width: 70%;
  text-align: left;
  padding: 2%;
  border-radius: 10px;
}

.order-item {
  display: flex;
  align-items: center;
}

.order-number {
  padding: 5px;
  text-align: center;
  margin: 2%;
}

.food-img {
  max-width: 20%;
  border-radius: 25%;
}

.phone-form {
  display: flex;
  width: 100%;
}

.btn-submit {
  background: #25B3FF;
  color: white;
  border: none;
  border-radius: 10%;
}

.specific {
  display: flex;
  justify-content: center;
  width: 80%;
}

#exampleInputPhone1 {
  width: 50%;
  margin-right: 2%;
}
