// * {
//   border: solid 2px red;
// }

h1 {
  font-size: 4rem;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDFFE9;
  text-align: center;
}

main {
  width: 80%;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.checkout-title {
  margin-bottom: 5%;
}

.orders {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border: solid 2px rgb(187, 187, 187);
  width: 70%;
  text-align: left;
  padding: 2%;
  border-radius: 10px;
}
.order-item {
  display: flex;
  align-items: center;
}

.order-number {
  padding: 5px;
  text-align: center;
  margin: 2%;
}
.meal-price {
  margin-left: 20px;
}
.food-img {
  max-width: 20%;
  border-radius: 25%;
}

#exampleInputPhone1 {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(187, 187, 187);
  outline: none;
}
// remove-btn

.btn-submit {
  background: #25B3FF;
  padding: 1em;
  color: white;
  border: none;
  border-radius: 10%;
}

.specific {
  display: flex;
  justify-content: center;
  width: 80%;
}
#exampleInputPhone1 {
  width: 50%;
  margin-right: 2%;
}

.order-total {
  display: flex;
  align-self: flex-end;
}
.order-log {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form {
  width: 100%;
}

.divider {
  border-bottom:solid 1px rgb(187, 187, 187);
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    align-items: center;
  }

  .order-log {
    display: flex;
    flex-grow: 1;
  }

  .order-checkout {
    flex-grow: 1;
  }
}
