h1 {
  font-size: 2.5rem;
}


body {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  align-items: center;
  background-color: #FDFFE9;
  // text-align: center;
  width: 100%;
  // font-family: 'Libre Baskerville', serif;
}

main {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.checkout-title {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.orders {
  display: flex;
  flex-direction: column;
  // align-self: flex-end;
  border: solid 2px rgb(187, 187, 187);
  width: 80%;
  // text-align: left;
  padding: 2%;
  border-radius: 10px;

}

.order-total{
  display: flex;
  justify-content: flex-end;
  // border: solid 2px rgb(187, 187, 187);
  border-bottom: solid 4px rgb(187, 187, 187);
  width: 80%;
  // text-align: left;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold;
  font-size: larger;
  // background-color: rgb(187, 187, 187);
  font-size: 1.15rem;
}



.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.order-number {
  padding: 5px;
  text-align: center;
  margin: 2%;
  width:10rem;
  font-size: 1.4rem;
}
.meal-price {
  margin-left: 20px;
}
.food-img {
  max-width: 20%;
  border-radius: 25%;
}

.order-quantity, .meal-price{
  font-size: 1.1rem;
}

// remove-btn

.btn-submit {
  background: #25B3FF;
  padding: 1em;
  color: white;
  border: none;
  border:2px solid rgb(187, 187, 187);
  border-radius: 3rem;
  font-size: 0.8rem;
}


#exampleInputPhone1 {
  width: 50%;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 1em;
  border-bottom:2px solid rgb(187, 187, 187);
  border-radius: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px rgb(187, 187, 187);
  outline: none;
  font-size: 0.8rem;

}

.order-log {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

// form {
//   width: 100%;
// }

.divider {
  border-bottom:solid 1px rgb(187, 187, 187);
}

.checkout-left-img{
  max-width:100%;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  align-self: center;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phonenumberlabel{
margin: 10px;
  align-self: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.phoneenterspace{
  flex-basis: 100%;
  margin: 10px;
    align-self: center;
  }

.checkout-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30em;
}

.checkout-right {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  // body {
  //   // display: flex;
  //   // flex-direction: column;
  //   width: 100%;
  // }

  main {
    display: inline-flex;
    width: 100%;
    height: -webkit-fill-available;
  }

  .checkout-right, .checkout-left {
    width: 45%;
    flex-grow:1;
    height: 100vh;
    justify-content: center;
    // border: 5px solid red;
  }

  .checkout-left-img{
    max-width:100%;
    height: 100%;
  align-self: center;
  }
  .order-log {
    display: flex;
    flex-direction:column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .order-checkout {
    display: inline-flex;
    width: 100%;

  }

  .phonenumberlabel {
    align-self:center;
  }


  #orderTotal {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    font-weight: bold;
  }


form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phonenumberlabel, .phoneenterspace{
margin: 10px;
  align-self: center;
}
}




